{#<span class="badge">{{ category.products.count }}</span>#}
{#{% extends 'base.html' %}#}
{##}
{#{% block title %}Category list{% endblock %}#}
{##}
{#{% block categories %}#}
  {#  <div class="collection">#}
  {#    {% for category in categories %}#}
  {#      <a href="{% url 'categories-detail' category.id %}" class="collection-item">{{ category.name }}</a>#}
  {#      <a href="#" class="collection-item">{{ category.name }}</a>#}
  {#    {% endfor %}#}
  {#  </div>#}
  {#  {% include "./product-list.html" %}#}
  {#  {% block product-list %}#}
  {#  {% endblock %}#}
  CATEGORY:
{#{{ categories }}#}
{#  <ul>#}
{#    {% for category in categories %}#}
{#      <li>#}
{#        <a href="#">{{ category.name }}</a>#}
{#      </li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#{% endblock %}#}
{#    <ul id="myUL">#}
{#      <li class="nested">#}
{#        <a href="#" class="collection-item">{{ category }}</a>#}
{#      </li>#}
{#    </ul>#}
{#  {% else %}#}
{#    <li><span class="caret">{{ category }}</span></li>#}
{#  {% endif %}#}

{#  <ul id="myUL">#}
{#    <a href="{% url 'categories-detail' category.id %}"#}
{#       class="collection-item">{{ category.name }}</a>#}
{#    <a href="#" class="collection-item">{{ category.name }}</a>#}
{#  </ul>#}
{#<ul id="myUL">#}
{#  <li><span class="caret">Beverages</span>#}
{#    <ul class="nested">#}
{#      <li>Water</li>#}
{#      <li>Coffee</li>#}
{#      <li><span class="caret">Tea</span>#}
{#        <ul class="nested">#}
{#          <li>Black Tea</li>#}
{#          <li>White Tea</li>#}
{#          <li><span class="caret">Green Tea</span>#}
{#            <ul class="nested">#}
{#              <li>Sencha</li>#}
{#              <li>Gyokuro</li>#}
{#              <li>Matcha</li>#}
{#              <li>Pi Lo Chun</li>#}
{#            </ul>#}
{#          </li>#}
{#        </ul>#}
{#      </li>#}
{#    </ul>#}
{#  </li>#}
{#</ul>#}