<ul class="nested active">
  {% for child in category.get_children %}
    {% with category=child template_name='category-list.html' %}
      <li>
        <a href="{% url 'products' child.id %}">
          {{ child.name }}
        </a>
      </li>
    {% endwith %}
  {% endfor %}
</ul>
{#<ul class="nested active">#}
{#  {% for child in category.get_children %}#}
{#    <li>#}
{#      <a href="{% url 'products' child.id %}">#}
{#        {{ child.name }}#}
{#      </a>#}
{#    </li>#}
{#  {% endfor %}#}
{#</ul>#}