{% extends 'base.html' %}

{% block title %}Shopping basket{% endblock %}

{% block content %}
  {% for product in basket.products.all %}
    <div class="row" id="product-{{ product.id }}">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <a id="deleteBasketButton-{{ product.id }}" class="delete-button"
               onclick="deleteProductFromBasket({{ basket.id }}, {{ product.id }})"
               url="{% url 'shopping_baskets:shopping-baskets-delete-product' basket.id product.id %}">
              <i class="small material-icons right">
                delete_forever
              </i>
            </a>
            <div class="card-title">
              {{ product.name }}, ${{ product.price }}
            </div>
            {{ product.description }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if not basket.products.all.exists %}
    <h6 class="row center-align">
      Shopping basket is empty:(
    </h6>
  {% endif %}
{% endblock %}
