{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            Sign up
          </div>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <div class="row center-align">
              <button type="submit" class="btn">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}