.arrow {
    cursor: pointer;
    user-select: none;
    margin-left: -13px;
}

.arrow::before {
    content: "\25B6";
    color: black;
    display: inline-block;
}

.arrow-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
    margin-left: 20px;
}

.active {
    display: block;
}

.edit-buttons {
    display: none;
}

.category-item:hover > .edit-buttons {
    display: inline;
}

.delete-button {
    color: #eeeeee;
    cursor: pointer;
}

.card-content:hover > .delete-button {
    display: inline;
    color: #424242;
}
