{% extends "base.html" %}

{% block title %}Edit: {{ product.name }}{% endblock %}

{% block content %}
  {% load field_errors %}
  {% load widget_tweaks %}

  <div class="card">
    <div class="card-content">
      <div class="card-title">
        {% if category %}Edit category{% else %}Add new category{% endif %}
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          {{ form }}
        <div class="row center-align">
          <button type="submit" class="btn">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}