
<ul id="userDetails" class="dropdown-content">
    <li>
        <a href={% url 'logout' %}>Log out</a>
    </li>
</ul>

<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">Logo</a>
        <ul class="right">
            <li>
                <a href={% url 'products' 0 %}>Product list</a>
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a class="dropdown-trigger" href="#" data-target="userDetails">
                        Hi, {{ user.username }}!
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">login</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>